{% extends "layouts/base.html" %}
{% load misc %}

{% block title %}Latest reports {% if segment == 'latest_reports_with_events' %}(with events){% endif %}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% for station in stations %}
    <h2>Station: {{ station.name }}</h2>
    <div class="card border-light shadow-sm mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                <thead class="thead-light">
                <tr>
                    <td>id</td>
                    <td>start_utc</td>
                    <td>post_utc</td>
                    <td>retrieved_utc</td>
                    <td>station</td>
                    <td>hash</td>
                    <td>fully_processed</td>
                    <td>no. ufo</td>
                    <td>details</td>
                </tr>
                </thead>
                <tbody>
                {% for report in latest_reports_per_station|get_item:station.name %}
                <tr>
                    <td>{{ report.id }}</td>
                    <td>{{ report.start_utc }}</td>
                    <td>{{ report.post_utc }}</td>
                    <td>{{ report.retrieved_utc }}</td>
                    <td>{{ report.station }}</td>
                    <td>{{ report.hash }}</td>
                    <td>{{ report.fully_processed }}</td>
                    <td>{{ count_ufo_outputs_per_station|get_item:station.name|get_item:report.id }}</td>
                    <td><a href="{% url 'report_detail' report.id %}" class="btn btn-primary">
                        <span class="fas fa-eye mr-2"></span>
                        Details
                    </a></td>
                </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endfor %}


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
