{% extends "layouts/base.html" %}
{% load misc %}



{% block title %}Event preview images maintenance{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

    <h1>Event preview images maintenance</h1>

    <form method="post" action="{% url 'ufo_thumbnails_maintenance' %}">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors }}
      </div>
      {% endif %}
      <div class="row mb-3">
        <label for="stations" class="col-sm-2 col-form-label">Stations</label>
        <div class="col-sm-10">
          <select id="stations" name="stations" class="form-select" multiple>
            {% for station in form.stations.field.queryset %}
            <option value="{{ station.id }}" {% if station.id in form.stations.value %}selected{% endif %}>{{ station.name }}</option>
            {% endfor %}
          </select>
          {% if form.stations.errors %}
          <div class="text-danger">{{ form.stations.errors }}</div>
          {% endif %}
        </div>
      </div>
      <div class="row mb-3">
        <label for="start_datetime" class="col-sm-2 col-form-label">Starting date</label>
        <div class="col-sm-10">
          <input type="datetime-local" id="start_datetime" name="start_datetime" class="form-control" value="{{ form.start_datetime.value|date:'Y-m-d\TH:i:s' }}">
          {% if form.start_datetime.errors %}
              ERRORS:
          <div class="text-danger">{{ form.start_datetime.errors }}</div>
          {% endif %}
        </div>
      </div>
      <div class="row mb-3">
        <label for="end_datetime" class="col-sm-2 col-form-label">Ending date</label>
        <div class="col-sm-10">
          <input type="datetime-local" id="end_datetime" name="end_datetime" class="form-control" value="{{ form.end_datetime.value|date:'Y-m-d\TH:i:s' }}">
          {% if form.end_datetime.errors %}
              ERRORS:
          <div class="text-danger">{{ form.end_datetime.errors }}</div>
          {% endif %}
        </div>
      </div>
      <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Image types</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input type="checkbox" id="det_level_preview" name="det_level_preview" class="form-check-input" {% if form.det_level_preview.value %}checked{% endif %}>
            <label for="det_level_preview" class="form-check-label">{{ form.det_level_preview.label }}</label>
            {% if form.det_level_preview.errors %}
            <div class="text-danger">{{ form.det_level_preview.errors }}</div>
            {% endif %}
          </div>
          <div class="form-check">
            <input type="checkbox" id="long_term_avg_preview" name="long_term_avg_preview" class="form-check-input" {% if form.long_term_avg_preview.value %}checked{% endif %}>
            <label for="long_term_avg_preview" class="form-check-label">{{ form.long_term_avg_preview.label }}</label>
            {% if form.long_term_avg_preview.errors %}
            <div class="text-danger">{{ form.long_term_avg_preview.errors }}</div>
            {% endif %}
          </div>
          <div class="form-check">
            <input type="checkbox" id="peak_hold_preview" name="peak_hold_preview" class="form-check-input" {% if form.peak_hold_preview.value %}checked{% endif %}>
            <label for="peak_hold_preview" class="form-check-label">{{ form.peak_hold_preview.label }}</label>
            {% if form.peak_hold_preview.errors %}
            <div class="text-danger">{{ form.peak_hold_preview.errors }}</div>
            {% endif %}
          </div>
        </div>
      </fieldset>
      <div class="row mb-3">
        <label for="width" class="col-sm-2 col-form-label">New width</label>
        <div class="col-sm-10 input-group has-validation">
          <input type="number" id="width" name="width" class="form-control" min="{{ form.width.field.min_value }}" max="{{ form.width.field.max_value }}" value="{{ form.width.value|default_if_none:480 }}">
          {% if form.width.errors %}
          <div class="text-danger">{{ form.width.errors }}</div>
          {% endif %}
        </div>
      </div>
      <div class="row mb-3">
        <label for="height" class="col-sm-2 col-form-label">New height</label>
        <div class="col-sm-10 input-group has-validation">
          <input type="number" id="height" name="height" class="form-control" min="{{ form.height.field.min_value }}" max="{{ form.height.field.max_value }}" value="{{ form.height.value|default_if_none:270 }}">
          {% if form.height.errors %}
          <div class="text-danger">{{ form.height.errors }}</div>
          {% endif %}
        </div>
      </div>
      <div class="row mb-3">
        <label for="jpeg_quality" class="col-sm-2 col-form-label">JPEG quality</label>
        <div class="col-sm-10 input-group has-validation">
          <input type="number" id="jpeg_quality" name="jpeg_quality" class="form-control" min="{{ form.jpeg_quality.field.min_value }}" max="{{ form.jpeg_quality.field.max_value }}" value="{{ form.jpeg_quality.value|default_if_none:50 }}">
          {% if form.jpeg_quality.errors %}
          <div class="text-danger">{{ form.jpeg_quality.errors }}</div>
          {% endif %}
        </div>
      </div>
      <div class="row mb-3">
        <label for="confirmation_password" class="col-sm-2 col-form-label">User password for confirmation</label>
        <div class="col-sm-10">
          <input type="password" id="confirmation_password" name="confirmation_password" class="form-control">
          {% if form.confirmation_password.errors %}
          <div class="text-danger">{{ form.confirmation_password.errors.0 }}</div>
          {% endif %}
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Resize thumbnail images</button>
    </form>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
